header { margin-bottom: 2em; }
body { max-width: 30em; }

a:not(h1 a), a:visited:not(h1 a) { color: blue; }

h1 > a { text-decoration: none; }

.katex { font-size: 1em; }

.katex-display {
  overflow-x: auto;
  padding-block: 10px; /* vertical scroll bug */
}

@media (max-width: 600px) {
  .katex-display {
    /* overcome padding on mobile */
    margin-left: -1em;
    margin-right: -1em;
  }
}
